<div class="main-container">
  <header class="header header-6">
    <div class="branding">
      <a href="/" class="nav-link">
        <clr-icon shape="home" [attr.size]="16" class="is-inverse"></clr-icon>
        <span class="title">
          Resource Viewer Tool
        </span>
      </a>
    </div>
    <div class="header-actions">
      <clr-dropdown>
        <button class="nav-text" clrDropdownTrigger>
          <span>Scenarios</span>
          <clr-icon shape="caret down"></clr-icon>
        </button>
        <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
          <button *ngFor="let scenario of scenarioNames" clrDropdownItem
                  (click)="setScenario(scenario)">{{scenario}}</button>
        </clr-dropdown-menu>
      </clr-dropdown>
    </div>
  </header>
  <div class="container">
    <div class="viewer clr-row">
      <div class="clr-col-9">
        <div class="view-container">
          <app-resource-viewer [elements]="elements"></app-resource-viewer>
        </div>
      </div>
      <div class="clr-col-3 sidebar">
        <app-scenarios (elements)="setElements($event)" [scenario]="currentScenario"></app-scenarios>
      </div>
    </div>
  </div>
</div>
