<div class="main-container">
  <header class="header header-6">
    <div class="branding">
      <a href="/" class="nav-link">
        <clr-icon shape="home" size="16" class="is-inverse"></clr-icon>
        <span class="title">
          Resource Viewer Tool
        </span>
      </a>
    </div>
  </header>
  <div class="container">
    <div class="controlPanel clr-row">
      <div class="clr-col-12">
        <form clrForm>
          <clr-select-container>
            <label for="scenario">Current Scenario</label>
            <select (ngModelChange)="setScenario($event)" [ngModel]="currentScenario" clrSelect
                    name="scenario">
              <option *ngFor="let scenario of scenarios" [value]="scenario">{{scenario}}</option>
            </select>
          </clr-select-container>
        </form>
      </div>
    </div>
    <div class="viewer clr-row">
      <div class="clr-col-9">
        <div class="view-container">
          <app-resource-viewer [elements]="elements"></app-resource-viewer>
        </div>
      </div>
      <div class="clr-col-3 sidebar">side</div>
    </div>

  </div>
</div>
