<div class="card">
  <div class="card-block">
    <clr-tabs>
      <clr-tab>
        <button clrTabLink>{{nodeData?.name}}</button>
        <clr-tab-content>
          <ng-container *ngFor="let view of nodeData?.views">
            <app-dynamic-content [view]="view"></app-dynamic-content>
          </ng-container>
        </clr-tab-content>
      </clr-tab>
      <clr-tab>
        <button clrTabLink>
          <clr-icon shape="bell" class="is-solid has-badge--error"></clr-icon>
          Issues
        </button>
        <clr-tab-content>tab 1 content</clr-tab-content>
      </clr-tab>
    </clr-tabs>
  </div>
</div>
